@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #212426;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #f9d3b4;
  font-family: var(--font-roboto);
  font-weight: 400;
}

.navbar a:hover {
  color: #fff;
}

.navbar .active {
  font-weight: bold;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212426;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: rgba(249, 211, 180, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Add this line */
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  width: 80%;
  max-width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  flex-wrap: wrap;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.filter-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
} 

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.filters select,
.filters input[type="number"] {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
}

.filters button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #0056b3;
}

.filter-options {
  display: flex; /* Add flex display to align elements horizontally */
  flex-wrap: wrap; /* Allow elements to wrap to the next line if needed */
  justify-content: space-between;
  align-items: center; /* Adjust the alignment as needed */
  gap: 10px; /* Add some gap between the elements */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.genre-filter,
.price-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative; /* Add position relative to the price filter container */
}

.filters button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.price-filter input[type="number"] {
  /* Other styles for the number input */
  margin-right: 5px;
}

.apply-button {
  /* Styles for the Apply button */
  position: absolute;
  left: calc(100% + 10px); /* Adjust the desired margin */
  top: 50%;
  transform: translateY(-50%);
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #212426;
  position: relative; /* Add position relative to the container */
  z-index: 0; /* Set a lower z-index to ensure the book cards appear below the filter options */
  /* Add other styling properties as needed */
}

.book {
  width: 300px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.book div:nth-child(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.book:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.book div:nth-child(2) {
  width: 100%;
  height: 100%;
}

.book div:nth-child(2) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book div:nth-child(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.book div:nth-child(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.book div:nth-child(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.book:hover div:nth-child(2) {
  height: 100%;
  opacity: 0.3;
}

.book:hover div:nth-child(3) {
  background-color: transparent;
}

.book:hover div:nth-child(1) {
  opacity: 1;
}

.book-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.book-details-card {
  background-color: #343739;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.book-details-card h2 {
  font-family: var(--font-roboto);
  color: #f9d3b4;
  margin-bottom: 1rem;
}

.book-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #a1a1a1;
}

.book-details-info {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  color: #f0f0f0;
}

.book-details-info img {
  width: 200px;
  height: auto;
}

.book-details-info p {
  margin: 0;
  font-family: var(--font-roboto);
  font-size: 18px;
  margin: 0; 
}

.book-details-info p strong {
  font-weight: bold;
  color: #f9d3b4;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .book {
    width: 100%;
    margin: 1rem;
  }
}

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #212426;
  border-radius: 8px;
}

.registration-form h2 {
  margin-bottom: 1rem;
  color: #f9d3b4;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.registration-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #f9d3b4;
  font-size: 1rem;
  font-family: var(--font-roboto);
}

.registration-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-family: var(--font-raleway);
  color: #333333;
  background-color: #ffffff;
}

.registration-form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-raleway);
  font-size: 1rem;
}

.registration-form button:hover {
  background-color: #0056b3;
}

.registration-form .message {
  margin-top: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.registration-form .success-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.registration-form .error-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #dc3545;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #212426;
  border-radius: 8px;
}

.login-form .form-title {
  margin-bottom: 1rem;
  color: #f9d3b4;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #f9d3b4;
  font-size: 1rem;
  font-family: var(--font-roboto);
}

.login-form .form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-family: var(--font-raleway);
  color: #333333;
  background-color: #ffffff;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-raleway);
  font-size: 1rem;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form .success-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.login-form .error-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #dc3545;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.admin-panel h1 {
  margin-bottom: 1rem;
  color: #f9d3b4;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.admin-panel p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.shopping-cart {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #212426;
  border-radius: 8px;
}

.shopping-cart h2 {
  margin-bottom: 1.5rem;
  color: #f9d3b4;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.shopping-cart .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #f9d3b4;
  font-size: 1.2rem;
  font-family: var(--font-roboto);
}

.shopping-cart .cart-item-details {
  flex-grow: 1;
}

.shopping-cart .cart-item p {
  margin: 0;
}

.shopping-cart .cart-item .title {
  font-weight: bold;
}

.shopping-cart .cart-item .price {
  text-align: right;
}

.shopping-cart .cart-item .subtotal {
  text-align: right;
}

.shopping-cart .cart-item button.remove-button {
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-raleway);
  font-size: 1rem;
  padding: 0.5rem;
  width: 80px; /* Adjust the width as needed */
  margin-left: 1rem; /* Add margin to separate the button from item details */
}

.shopping-cart .cart-item button.remove-button:hover {
  background-color: #0056b3;
}

.shopping-cart .total-price {
  margin-top: 1.5rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f9d3b4;
}

.shopping-cart .checkout-link {
  display: block;
  margin-top: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 1rem;
  text-decoration: none;
}

.shopping-cart .checkout-link:hover {
  background-color: #0056b3;
}

.checkout-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #212426;
  border-radius: 8px;
}

.checkout-form .form-title {
  margin-bottom: 1rem;
  color: #f9d3b4;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.checkout-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #f9d3b4;
  font-size: 1rem;
  font-family: var(--font-roboto);
}

.checkout-form .form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-family: var(--font-raleway);
  color: #333333;
  background-color: #ffffff;
}

.checkout-form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-raleway);
  font-size: 1rem;
}

.checkout-form button:hover {
  background-color: #0056b3;
}

.checkout-form .success-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.checkout-form .error-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #dc3545;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.checkout-form .cart-link {
  display: block;
  margin-top: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 1rem;
  text-decoration: none;
}

.checkout-form .cart-link:hover {
  background-color: #0056b3;
}

.order-success {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #212426;
  border-radius: 8px;
}

.order-success h2 {
  margin-bottom: 1.5rem;
  color: #f9d3b4;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.order-success p {
  margin-bottom: 1rem;
  color: #f9d3b4;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.order-success .home-link {
  display: block;
  margin-top: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 1rem;
  text-decoration: none;
}

.order-success .home-link:hover {
  background-color: #0056b3;
}

.order-history {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #212426;
  border-radius: 8px;
}

.order-history h2 {
  margin-bottom: 1.5rem;
  color: #f9d3b4;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-roboto);
}

.order-history .order-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-history .order-item {
  background-color: #333333;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #f9d3b4;
  font-size: 1.2rem;
  font-family: var(--font-roboto);
}

.order-history .order-item p {
  margin: 0;
}

.order-history .order-item p:first-child {
  font-weight: bold;
}

.order-history .order-item p:last-child {
  margin-top: 0.5rem;
}

.order-history p.no-history {
  color: #f9d3b4;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  font-family: var(--font-roboto);
}
